module.exports = {
  FORTNITE: "Fornite Tracker Token",
  MAX_PLAYLIST_SIZE: 25,
  STAY_TIME: 10,
  DEFAULT_VOLUME: 100,
  SOUNDCLOUD_CLIENT_ID: "Client ID for Souncloud",
  DEFAULTSETTINGS: {
    prefix: ".",
    logChannel: "reports",
    welcomeMessage: "Bienvenue ! {{user}}",
    welcomeChannel: "bienvenue"
  }
}
